<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head th:insert ="~{admin/templates_admin::head_admin}">

    </head>
    <link th:href="@{/css/homeProduct.css}" rel="stylesheet">
    <body>
        <div th:insert ="~{admin/templates_admin::header_admin}"></div>
        <div class="page-content">
            <ul>
                <a class="custom-link" th:href="@{/admin/products/create}">Crear producto</a>
            </ul>

            <header>
                <h1>Bienvenido a tu tienda en línea!!!</h1>
            </header>

            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Precio</th>
                        <th>Editar</th>
                        <th>Inventario</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="producto: ${products}">
                        <td th:text="${producto.name}"></td>
                        <td th:text="${producto.description}"></td>
                        <td th:text="${producto.price}"></td>
                        <td><a class="custom-link btn-warning" th:href="@{/admin/products/edit/{id} (id = ${producto.id}) }">Editar</a></td>
                        <td><a class="custom-link btn-primary" th:href="@{/admin/products/stock/{id} (id = ${producto.id}) }">Inventario</a></td>
                        <td><a class="custom-link btn-danger"
                               th:href="@{/admin/products/delete/{id} (id = ${producto.id}) }" onclick="return removeItemConfirmation(event)">Eliminar</a></td>
                    </tr>
                </tbody>
            </table>
        </div>


    </body>
    <div class="footer" th:insert ="~{admin/template_admin::footer_admin}"></div>
     <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        function removeItemConfirmation(event) {
            event.preventDefault(); // Prevenir la acción predeterminada del enlace

            Swal.fire({
                title: '¿Elimar producto?',
                text: '¿Seguro que desea elimnar el producto?',
                icon: 'question',
                showCancelButton: true,
                confirmButtonText: 'Sí, quitar',
                cancelButtonText: 'No, cancelar',
                allowOutsideClick: true,
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire({
                        title: 'Producto eliminado',
                        icon: 'success'
                    }).then(() => {
                        // Descomenta y ajusta la siguiente línea según tu implementación.
                        window.location.href = event.target.getAttribute('href');
                    });
                }
            });
        }
        /*]]>*/
    </script>

</html>
<style>
    .body{
        position: relative;
    }
    .footer{
        position: absolute;
        bottom:0px;
        height: 60px;
        width: 100%;
    }

</style>
