<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head th:fragment ="head_admin">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" th:href="@{images/Logo.png}">
        <title>TechnoShop - Admin</title>

        <!-- iconscout cdn path -->
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
        <!-- CSS File Link -->
        <link rel="stylesheet" th:href="@{/css/style.css}">
    </head>
    <body>
        <div class="sidebar" id="sidebar" th:fragment ="header_admin">
            <div class="logo">
                <h2>
                    <i class="uil uil-yen-circle"></i>
                    TechnoShop
                </h2>
            </div>

            <div class="sidebar-menu">
                <ul>
                    <li>
                        <a th:href="@{/admin}">
                            <i class="uil uil-dashboard"></i>
                            <span>Dashboard</span>                   
                        </a>

                    </li>
                    <li >
                        <a th:href="@{/admin/products}">
                            <i class="uil uil-cube"></i>
                            <span>productos</span>
                        </a>
                    </li>

                    <li>
                        <a th:href="@{/admin}">
                            <i class="uil uil-shopping-bag"></i>
                            <span>Ordenes</span>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/admin}">
                            <i class="uil uil-users-alt"></i>
                            <span>Usuarios</span>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/admin}">
                            <i class="uil uil-user-circle"></i>
                            <span>Cuenta</span>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/home}" class="nav-link">
                            <i class="uil uil-signin"></i>
                            <span>Salir</span>
                        </a>
                    </li>

                </ul>
            </div>
        </div>

        <div class="main-content" id="main-content">
            <header class="flex">
                <h2>
                    <i class="uil uil-bars" id="menu-icon"></i>
                    Dashboard
                </h2>

                <div class="search-box">
                    <i class="uil uil-search"></i>
                    <input type="text" placeholder="Search Here...">
                </div>

                <div class="admin-box flex">
                    <img th:src="@{/images/yomer.jpg}" width="30px" height="30px">
                    <div>
                        <h4 th:text="${useradmin}"></h4>
                        <small>Admin</small>
                    </div>
                </div>

            </header>

            <main>
                <div class="cards">
                    <div class="single-card">
                        <div>
                            <span>Usuarios</span>
                            <h2 th:text="${userCount}">0</h2>
                        </div>
                        <i class="uil uil-users-alt"></i>
                    </div>
                    <div class="single-card">
                        <div>
                            <span>Ordenes</span>
                            <h2 th:text="${orderCount}">0</h2>
                        </div>
                        <i class="uil uil-shopping-bag"></i>
                    </div>
                    <div class="single-card">
                        <div>
                            <span>Total de Productos</span>
                            <h2 th:text="${totalProducts}">0</h2>
                        </div>
                        <i class="uil uil-box"></i>
                    </div>

                    <div class="single-card">
                        <div>
                            <span>PENDING REQUESTS</span>
                            <h2>18</h2>
                        </div>
                        <i class="uil uil-comments"></i>
                    </div>
                </div>
                <div class="wrapper flex">
                    <div class="projects">
                        <div class="card-header flex">
                            <h3>Lista de Ordenes</h3>
                            <button>Ver todo<i class="uil uil-angle-right"></i></button>
                        </div>
                        <table >
                            <thead>
                                <tr>
                                    <th>Order ID</th>
                                    <th>Cliente</th>
                                    <th>Fecha de creacion</th>
                                    <th>Estado</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Utiliza Thymeleaf para iterar sobre la lista de pedidos -->
                                <tr th:each="order : ${orders}">
                                    <td th:text="${order.id}"></td>
                                    <td th:text="${order.user.fullName}"></td>
                                    <td th:text="${order.dateCreated != null} ? ${#temporals.format(order.dateCreated, 'dd/MM/yyyy')} : ''"></td>
                                    <td th:text="${order.status}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- Agrega esta sección a tu archivo HTML -->
                    <div class="customers">
                        <div class="card-header flex">
                            <h3>Usuarios Registrados</h3>
                            <button>Ver todo<i class="uil uil-angle-right"></i></button>
                        </div>

                        <table>
                            <tbody>
                                <!-- Utiliza Thymeleaf para iterar sobre la lista de usuarios -->
                                <tr th:each="user : ${registeredUsers}">
                                    <td class="flex">
                                        <!-- Aquí puedes mostrar la imagen del usuario si tienes esa información -->
                                        <div>
                                            <h5 th:text="${user.firtName + ' ' + user.lastName}"></h5>
                                            <small th:text="${user.address}"></small>
                                        </div>
                                    </td>

                                    <td>
                                        <i class="uil uil-user-circle"></i>
                                        <!-- Aquí puedes mostrar otras propiedades del usuario, como la fecha de registro, etc. -->
                                        <i class="uil uil-calender"></i>
                                        <i class="uil uil-phone-alt"></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>


                </div>
        </div>

    </main>


</div>

<script>
    let sideBar = document.getElementById('sidebar');
    let menuIcon = document.getElementById('menu-icon');
    let mainContent = document.getElementById('main-content');

    menuIcon.onclick = () => {
        sideBar.classList.toggle('toggleMenu');
        mainContent.classList.toggle('toggleContent');
    }


//active de navegacion
    document.addEventListener('DOMContentLoaded', function () {
        var menuItems = document.querySelectorAll('.sidebar-menu ul li');

        menuItems.forEach(function (item) {
            item.addEventListener('click', function () {
                // Elimina la clase 'active' de todos los elementos
                menuItems.forEach(function (innerItem) {
                    innerItem.classList.remove('active');
                });

                // Agrega la clase 'active' al elemento clicado
                item.classList.add('active');
            });
        });
    });

</script>
</body>
</html>