<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head th:insert="~{user/template_user::head}"></head>
    <body>
        <!-- Navigation -->
        <div th:insert="~{user/template_user::header}" th:if="${id==null}"></div>
        <div th:insert="~{user/template_user::userlogger}" th:unless="${id==null}"></div>

        <!-- Page Content -->
        <div class="container" style="margin-top: 120px;">

            <h1>Order Details</h1>

            <p>User: <span th:text="${user.name}"></span></p>
            <p>Order ID: <span th:text="${order.id}"></span></p>
            <p>Date: <span th:text="${order.date}"></span></p>

            <table border="1">
                <thead>
                    <tr>
                        <th>Product Name</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Iterate over order products and display details -->
                    <tr th:each="orderProduct : ${orderProducts}">
                        <td th:text="${orderProduct.productEntity.name}"></td>
                        <td th:text="${orderProduct.quantity}"></td>
                        <td th:text="${orderProduct.productEntity.price}"></td>
                        <td th:text="${orderProduct.getTotalPrice()}"></td>
                    </tr>
                </tbody>
            </table>

            <p>Total Order Price: <span th:text="${order.getTotalOrderPrice()}"></span></p>



        </div>
        <!-- /.container -->

        <!-- Footer -->
        <div th:insert="~{user/template_user::footer}"></div>
    </body>
</html>
