<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head th:insert = "~{user/template_user::head}"></head>
<link th:href="@{/css/login.css}" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <body>

    <body>

        <!-- Navigation -->
        <nav>
            <div class="container">
                <a class="navbar-brand" th:href="@{/home}">TechnoShop</a>
                <div class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/register}">Registrese</a>
                    </li>
                </div>
            </div>
        </nav>




        <div class="wrapper">
            <form  th:action="@{/login}" method="post" class="form">
                <h1 class="title">Inicio</h1>
                <div class="inp">
                    <input type="email" name="username" id="username" class="input" placeholder="Ingrese su email" required autocomplete="off">
                    <i class="fa-solid fa-user"></i>
                </div>
                <div class="inp">
                    <input type="password" name="password" id="password" class="input" placeholder="Contraseña" required>
                    <i class="fa-solid fa-lock"></i>
                </div>
                <button class="submit">Iniciar Sesión</button>
                <p class="footer">¿No tienes cuenta?<a th:href="@{/register}" class="link"> Por favor, Registrate</a></p>
            </form>

            <div></div>
            <div class="banner">
                <h1 class="wel_text">BIENVENIDO<br/></h1>
                <p class="para"> Gracias por preferirnos <br/> Somos <br/>TechnoShop</p>

            </div>
        </div>
        <!-- /.container -->

    </body>

</body>

</html>