<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

    <head >
        <title>TechnoShop</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link th:href="@{/css/registro.css}" rel="stylesheet">
    </head>

    <body>

        <div class="alert alert-success" role="alert" th:text="${success}" th:if="${success}"></div>
        <nav>
            <div class="container">
                <a class="navbar-brand" th:href="@{/home}">TechnoShop</a>
                <div class="navbar-nav">
                    <div class="nav-item"><a class="nav-link" th:href="@{/login}">Login</a></div>
                </div>
            </div>
        </nav>

        <div class="wrapper">
            <form class="form" th:action="@{/register}" method="post" th:object="${userDto}">
                <div class="title">Registro</div>
                <div class="inp">
                    <input type="text" class="form-control" id="firtName" name="firtName" placeholder="Ingrese su nombre"
                           autocomplete="off">
                    <p th:if="${#fields.hasErrors('firtName')}" th:errors="*{firtName}" th:errorclass="error"></p>
                </div>
                <div class="inp">
                    <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Ingrese su apellido"
                           autocomplete="off">
                    <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" th:errorclass="error"></p>
                </div>
                <div class="inp">
                    <input type="email" class="form-control" id="email" name="email" placeholder="Ingrese su email"
                           autocomplete="off">
                    <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" th:errorclass="error"></p>
                </div>
                <div class="inp">
                    <input type="text" class="form-control" id="address" name="address" placeholder="Ingrese su dirección"
                           autocomplete="off">
                    <p th:if="${#fields.hasErrors('address')}" th:errors="*{address}" th:errorclass="error"></p>
                </div>
                <div class="inp">
                    <input type="text" class="form-control" id="cellphone" name="cellphone"
                           placeholder="Ingrese su teléfono" autocomplete="off">
                    <p th:if="${#fields.hasErrors('cellphone')}" th:errors="*{cellphone}" th:errorclass="error"></p>
                </div>
                <div class="inp">
                    <input type="password" class="form-control" id="password" name="password"
                           placeholder="Ingrese su contraseña" autocomplete="off">
                    <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" th:errorclass="error"></p>
                </div>
                <button type="submit" class="submit">Guardar</button>
            </form>

            <div class="banner">
                <div class="wel_text">BIENVENIDO</div>
                <div class="para">¡Regístrate para <br/>obtener <br/> acceso!</div>
            </div>
        </div>

        <!-- /.container -->

        <!-- Footer -->


    </body>

</html>
