<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

    <head th:insert = "~{admin/templates_admin::head_admin}"></head>
    <link th:href="@{/css/inventory.css}" rel="stylesheet">

    <body>

        <!-- Navigation -->
        <div th:insert = "~{admin/templates_admin::header_admin}"></div>

        <!-- Page Content -->
        <div class="container">
            <h2 class="title">Añadir Stock</h2>
            <form class="form-horizontal" th:action="@{/admin/products/stock/save-unit-product}" method="post">
                <input type="hidden" name="idproduct" th:value="${idproduct}">
                <div class="form-group">
                    <label class="control-label" for="unitIn">Cantidad:</label>
                    <input type="number" class="form-control" id="entradas" name="entradas" placeholder="Ingrese la cantidad del producto" required autocomplete="off">
                </div>

                <div class="row">
                    <button type="submit">
                        Guardar
                    </button>
                </div>
            </form>
        </div>
        <!-- /.container -->

        <!-- Footer -->
        <div th:insert="~{admin/template_admin::footer_admin}"></div>
    </body>

</html>